$NetBSD$

--- Modules/Setup.dist.orig	2017-07-14 21:59:17.000000000 -0400
+++ Modules/Setup.dist	2017-07-14 21:59:31.000000000 -0400
@@ -491,9 +491,3 @@
 #_codecs_jp cjkcodecs/_codecs_jp.c
 #_codecs_kr cjkcodecs/_codecs_kr.c
 #_codecs_tw cjkcodecs/_codecs_tw.c
-
-# Example -- included for reference only:
-# xx xxmodule.c
-
-# Another example -- the 'xxsubtype' module shows C-level subtyping in action
-xxsubtype xxsubtype.c
